@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-open-sans {
  font-family: 'Open Sans', serif;
}

.font-pacifico-regular {
  font-family: 'Pacifico', serif;
  font-weight: 400;
  font-style: normal;
}
.active {
  background-color:  #ff8c00;
  color: white;
}

#footer-links  a:hover{
  text-decoration: underline;
}